@font-face {
  font-family: 'ServerMono';
  src:
    url('../assets/fonts/server-mono/ServerMono-Regular.woff2') format('woff2'),
    url('../assets/fonts/server-mono/ServerMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
